<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  
    <div *ngIf="imagesPath">

      <!-- <img [src]="imagesPath" alt="" class="img-responsive">  -->
<!-- 
      <div *ngFor="let path of imagesPath ">
      </div> 
 -->
      
    </div>

       <div class="form-group">
          <md-form-field class="example-full-width">
            <input mdInput placeholder="Product title"  formControlName="title">
                  <md-error *ngIf="productForm.controls.title.hasError('required')">
                    Product name is <strong>required</strong>
                  </md-error>
          </md-form-field>
        </div>
      
        <div class="form-group">
            <md-select placeholder="Categories" [formControl]="productForm.controls['categories']" >
              <md-option *ngFor="let category of categories" [value]="category.id">
                {{category.category_name}}
              </md-option>
            </md-select>
        </div> 
         <div class="form-group">
          <md-form-field class="example-full-width">
            <input mdInput placeholder="Price" type="number"  formControlName="price">
                  <md-error *ngIf="productForm.controls.price.hasError('required')">
                    Price name is <strong>required</strong>
                  </md-error>
          </md-form-field>
        </div>
         <div class="form-group">
          <md-form-field class="example-full-width">
            <input mdInput placeholder="Description"  formControlName="description">
                  <md-error *ngIf="productForm.controls.description.hasError('required')">
                    Description name is <strong>required</strong>
                  </md-error>
          </md-form-field>
        </div>
        <div class="form-group">
          <md-form-field class="example-full-width">
            <input mdInput placeholder="Location"  formControlName="location">
                  <md-error *ngIf="productForm.controls.location.hasError('required')">
                    Location name is <strong>required</strong>
                  </md-error>
          </md-form-field>
        </div>


              <div formArrayName="additionalFields">
                <div class="form-group" *ngFor="let group of productForm.get('additionalFields').controls; 
                let i=index">
                


                  <md-form-field class="example-full-width" [formGroupName]="i"> 
                      <input mdInput
                      [placeholder]="group.controls.catName.value"  
                      [value]="group.controls.catValue.value" formControlName="catValue"   >
                  
                    </md-form-field> 
                </div>
                
              </div>
        
             
            
        
       
         


        <div class="form-group">
          <md-select placeholder="Approved" formControlName="approved">
            <md-option *ngFor="let approve of [0,1]" [value]="approve">
              {{approve}}
            </md-option>
          </md-select>
        </div> 


            <div class="row">
                <div class="col-md-3">
                    <button 
                        class="btn btn-danger" 
                        type="button" 
                        (click)="onDelete()"
                       
                        >Delete
                      </button>
                </div>
                <div class="col-md-3">
                    <button 
                        class="btn btn-primary" 
                        type="submit" 
                      
                        [disabled]="!productForm.valid"
                        >Submit
                      </button>
                </div>
              </div>

        


<!-- 
        <div class="form-group">
        <md-select placeholder="Favorite food">
          <md-option *ngFor="let food of foods" [value]="food.value">
            {{ food.viewValue }}
          </md-option>
        </md-select>
      </div> -->
   
    
 
</form>